@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;1,300;1,400&display=swap");
@media screen and (max-width: 890px) {
  .top-section .navbar .nav-menu div a {
    visibility: hidden;
  }
  .top-section .navbar .nav-menu div .logo {
    position: absolute;
    width: 100px;
    right: 25px;
    visibility: visible;
    font-size: x-large;
  }
  .top-section .navbar .nav-menu div .logo:hover {
    background-color: red;
  }
  .top-section .navbar .nav-menu div .contact-us {
    width: 100%;
    visibility: visible;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    text-align: center;
    transform: translate(-5%);
  }
  .top-section .navbar .nav-menu .menu-toggler {
    display: inline !important;
    position: absolute;
    left: 50px;
    top: 0;
    transform: translate(-35%, 75%);
  }
  .top-section .text {
    top: 15vh !important;
    background: transparent !important;
  }
}
@media screen and (max-width: 500px) {
  .top-section .text {
    top: 10vh !important;
  }
  .top-section .navbar .nav-menu .menu-toggler {
    left: 10px !important;
  }
}
button {
  outline: none !important;
}

.top-section {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: black;
  z-index: 5;
}
.top-section .parallax-img {
  z-index: 1;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("https://www.cashadvance6online.com/data/archive/img/2288407262.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
}
.top-section .navbar {
  z-index: 5;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Poppins", sans-serif;
  background-color: transparent;
}
.top-section .navbar .nav-menu {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
.top-section .navbar .nav-menu .menu-toggler {
  display: none;
}
.top-section .navbar .nav-menu .menu-toggler button {
  width: 100px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  padding: 15px;
  font-size: large;
  font-weight: 800;
}
.top-section .navbar .nav-menu div {
  text-align: center;
  width: 525px;
  display: flex;
}
.top-section .navbar .nav-menu div a {
  display: block;
  width: 100%;
  color: #ffffff;
  margin: 15px;
  font-weight: 800;
  font-size: large;
  text-transform: capitalize;
  text-decoration: none;
}
.top-section .navbar .nav-menu div a:hover {
  text-decoration: underline;
}
.top-section .navbar .nav-menu div .logo {
  background-color: #000000;
  color: #ffffff;
  padding: 15px;
  text-transform: uppercase;
  transition: 0.5s;
}
.top-section .navbar .nav-menu div .logo:hover {
  text-decoration: none;
  background-color: white;
  color: black;
}
.top-section .navbar .nav-menu div .contact-us {
  background-color: #000000;
  color: #ffffff;
  padding: 15px;
  transition: 0.5s;
}
.top-section .navbar .nav-menu div .contact-us:hover {
  text-decoration: none;
  background-color: white;
  color: black;
}
.top-section .navbar .nav-menu div:first-child {
  width: 175px;
}
.top-section .navbar .nav-menu div:last-child {
  width: 175px;
}
.top-section .text {
  color: #ffffff;
  background: #833ab4;
  background: linear-gradient(90deg, #833ab4 0%, #fd1d1d 50%, #fcb045 100%);
  position: absolute;
  top: 35vh;
  width: 100%;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.top-section .text h2 {
  margin-left: 50px;
  padding-left: 50px;
  margin-right: 50px;
  padding-right: 50px;
  text-transform: uppercase;
  font-size: 50px;
}
.top-section .text p {
  color: white;
  margin-left: 50px;
  margin-right: 50px;
}
.top-section .text:hover {
  color: white;
}

@media screen and (max-width: 1200px) {
  .about-us-section {
    flex-wrap: no-wrap;
  }
  .about-us-section .photo {
    position: absolute;
    width: 100% !important;
  }
  .about-us-section .text {
    background-color: #fffffff1;
    position: absolute;
    font-size: small;
    padding: 15px !important;
    width: 100vw !important;
    height: 100vh !important;
  }
  .about-us-section .text p {
    width: 95%;
  }
}
.about-us-section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  display: flex;
  background-color: white;
}
.about-us-section .photo {
  order: 0;
  width: 50%;
  height: 100vh;
  background-image: url("https://iea.imgix.net/baf1e3a9-a015-4917-8206-021234e74453/matthew-hamilton-Ru3Ap8TNcsk-unsplash.jpg?auto=compress%2Cformat&fit=min&q=80&rect=1710%2C0%2C3648%2C3648");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about-us-section .photo img {
  display: none;
  width: 100%;
  height: 100vh;
}
.about-us-section .text {
  width: 50%;
  height: 100vh;
  padding: 35px;
}
.about-us-section .text h1 {
  font-size: xx-large;
  font-weight: 800;
  text-transform: uppercase;
  border-right: 2px solid black;
}
.about-us-section .text p {
  font-weight: 600;
  text-indent: 25px;
}

.achivements-section {
  width: 100%;
  height: 100vh;
  background: url("https://www.americancityandcounty.com/files/2020/06/sean-pollock-PhYq704ffdA-unsplash-2-1024x512.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}
.achivements-section .filter {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 1;
  background-color: black;
  opacity: 0.9;
}
.achivements-section .content {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 555;
  color: #ffffff;
}
.achivements-section .content h1 {
  text-align: left;
  text-transform: capitalize;
  font-weight: 900;
  margin: 15px;
  padding-left: 25px;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  border-bottom-right-radius: 10px;
}

.portfolio {
  width: 100%;
  height: 100vh;
  background-color: blue;
}

.app {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow-x: hidden;
}

/*# sourceMappingURL=main.css.map */
